[submodule "ext/libmodplug"]
	path = ext/libmodplug
	url = https://github.com/jarikomppa/libmodplug.git
[submodule "ext/PortAudio"]
	path = ext/PortAudio
	url = https://git.assembla.com/portaudio.git
